.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #111132,#242459);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textcontainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        gap: 20px;
        align-items: center;

        p{
            font-weight: 200;
            font-size: 15px;
            color: gray;
            text-align: right;
        }

        hr{
            width: 200px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }
    .titlecontainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            display: flex;
            align-items: center;
        }
        h1{
            font-size: 96px;
            font-weight: 100;
        }
        h4{
            font-size: 22px;
            color: orange;
        }
    }

    .listcontainer{
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;
        

        .box{
            padding: 30px;
            border: 0.5px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 25px;
            width: 200px;
            height: 300px;

            button{
                padding: 5px;
                background-color: orange;
                border: none;
                cursor: pointer;
            }
        }
    }
}